{% extends "base.html" %}

{% block title %}Images — Typequoting{% endblock %}

{% block content %}

    <div class="alphabet grid">
    	{% for image in images %}
    	    <figure>
    	    	<img src="{{ image.url }}" alt />
    	    	<figcaption>
    	    		By {% if image.author_url %}<a href="{{image.author_url}}">{% endif %}{{image.author_name}}{% if image.author_url %}</a>{% endif %}
    	    		<br>Using {{image.typeface}}
    	    	</figcaption>
    	    </figure>
    	{% endfor %}
    </div>

{% endblock %}
