{% extends "base.html" %}

{% block title %}Submissions — Typequoting{% endblock %}

{% block content %}
    <h1 class="title">Submissions</h1>
    {% for story in stories %}
        <article class="typequote">
            <figure class="clear">
                {% for image in story.ordered_images %}
                    <img src="{{ image.url }}" alt />
                {% endfor %}
            </figure>
            <blockquote{% if forloop.first %} class="active"{% endif %}>
                <p>{{ story.body }}</p>
                <cite>— {% if story.author_name %}{{ story.author_name }}{% else %}Anonymous{% endif %}</cite>
            </blockquote>
        </article>
    {% endfor %}
{% endblock %}
