{% extends "base.html" %}

{% block title %}{% if page_type == "popular" %}Popular Submissions — Typequoting{% else %}Recent Submissions — Typequoting{% endif %}

{% endblock %}

{% block content %}
    {% if page_type == "popular" %}
        <h1 class="title">Popular submissions</h1>
        <h2 class="subtitle">Looking for the <a href="{% url "recent_submissions" %}">recent submissions</a>?</h2>
    {% else %}
        <h1 class="title">Recent submissions</h1>
        <h2 class="subtitle">Looking for the <a href="{% url "popular_submissions" %}">popular submissions</a>?</h2>
    {% endif %}
    {% for story in stories_page %}
        {% include 'stories/_story.html' %}
    {% endfor %}
    <ul class="pagination">
        {% if stories_page.has_previous %}
            <li>
                <a href="?page={{ stories_page.previous_page_number }}"><</a>
            </li>
        {% endif %}
        {% for page in pages %}
            {% if page %}
                {% ifequal page stories_page.number %}
                <li>{{ page }}</li>
                {% else %}
                <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endifequal %}
            {% else %}
                <li>...</li>
            {% endif %}
        {% endfor %}
        {% if stories_page.has_next %}
            <li>
                <a href="?page={{ stories_page.next_page_number }}">></a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
