{% extends "base.html" %}

{% block title %}About the project — Typequoting{% endblock %}

{% block content %}
    <h1 class="title">About the project</h1>
    <div class="alphabet-grid clear">
    	{% for image in images %}
    	    <figure class="js-load hidden">
    	    	<a href="{{ image.url }}" target="_blank"><img src="{{ image.url }}" alt /></a>
    	    	<figcaption>
    	    		By {% if image.author_url %}<a href="{{image.author_url}}">{% endif %}{{image.author_name}}{% if image.author_url %}</a>{% endif %}
    	    		<br>Using {{image.typeface}}
    	    	</figcaption>
    	    </figure>
    	{% endfor %}
    </div>

    <div class="shrink-layout two-columns">
        <p class="lead">Typequoting brings storytelling and typography together in a particular way.</p>
        <p>Every visitor of the site is asked to create a story inspired by five random elements in less than a minute. These elements are directly related to the shape and resemblance of letterforms. The point of the game is to make connections between elements and end up with a unique story.</p>
        <p>This website actually started as a poster project for <a href="http://spire-id.com/" target="_blank">William Bevington's</a> Typography class on Parsons School of Design, where classmates were asked to write stories based on compositions inspired by typographic elements.</p>
        <p>All the stories are publicly available on the <a href="/submissions">submissions page.</a> If you would like to add more images to the collection featured above, please send an email to <a href="rolando@bandd.co">rolando@bandd.co</a>.</p>
    </div>

{% endblock %}
